/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./fonts/montserrat-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v12-latin-regular.woff2") format("woff2"), url("./fonts/montserrat-v12-latin-regular.woff") format("woff"), url("./fonts/montserrat-v12-latin-regular.ttf") format("truetype"), url("./fonts/montserrat-v12-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/montserrat-v12-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("./fonts/montserrat-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v12-latin-600.woff2") format("woff2"), url("./fonts/montserrat-v12-latin-600.woff") format("woff"), url("./fonts/montserrat-v12-latin-600.ttf") format("truetype"), url("./fonts/montserrat-v12-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* line 2, ../scss/_main-style.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/_main-style.scss */
html {
  font-size: 14px;
}

/* line 8, ../scss/_main-style.scss */
body, p, ul, h1, h2 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 14, ../scss/_main-style.scss */
body {
  line-height: 1.7rem;
  color: #000;
  font-family: "Montserrat";
  font-size: 1rem;
}

/* line 21, ../scss/_main-style.scss */
h1 {
  font-size: 1.7rem;
  line-height: 1.7;
}

/* line 26, ../scss/_main-style.scss */
ul, li {
  -webkit-padding-start: 0;
}

/* line 30, ../scss/_main-style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 36, ../scss/_main-style.scss */
.text-center {
  text-align: center;
}

/* line 40, ../scss/_main-style.scss */
.highlighted-background {
  background-color: #f5f5f5;
}

/* line 2, ../scss/_main-layout.scss */
.banner {
  padding: 2.55rem 0;
}

/* line 2, ../scss/_button.scss */
.button {
  display: inline-block;
  padding: calc(1.7rem/3 - 2px) calc(1.7rem - 2px);
  border: 2px solid #000;
  margin-top: 1.7rem;
  background: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 12, ../scss/_button.scss */
.button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.95);
}
/* line 16, ../scss/_button.scss */
.button:active {
  background: #000;
}

/* line 2, ../scss/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.7rem;
  background: #fff;
  -moz-box-shadow: 0px 3px 6px 3px rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0px 3px 6px 3px rgba(245, 245, 245, 0.5);
  box-shadow: 0px 3px 6px 3px rgba(245, 245, 245, 0.5);
}
/* line 12, ../scss/_header.scss */
.header .logo {
  margin: 0 auto;
  display: block;
  width: 5.1rem;
  height: 5.1rem;
  overflow: hidden;
}
/* line 18, ../scss/_header.scss */
.header .logo img {
  display: block;
  height: 100%;
  width: auto;
}

/* line 27, ../scss/_header.scss */
.nav {
  text-align: center;
}
/* line 29, ../scss/_header.scss */
.nav .nav-list {
  list-style-type: none;
  display: inline-block;
}
/* line 32, ../scss/_header.scss */
.nav .nav-list .nav-li {
  display: inline-block;
  padding: 0.85rem;
  text-transform: uppercase;
  color: #646464;
}
/* line 37, ../scss/_header.scss */
.nav .nav-list .nav-li:hover {
  color: #000;
}

/* line 1, ../scss/_parallex.scss */
.parallex {
  padding: 1.7rem 0;
}
/* line 3, ../scss/_parallex.scss */
.parallex .logo {
  display: block;
  width: 100%;
  height: auto;
}
