/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./fonts/montserrat-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v12-latin-regular.woff2") format("woff2"), url("./fonts/montserrat-v12-latin-regular.woff") format("woff"), url("./fonts/montserrat-v12-latin-regular.ttf") format("truetype"), url("./fonts/montserrat-v12-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/montserrat-v12-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("./fonts/montserrat-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v12-latin-600.woff2") format("woff2"), url("./fonts/montserrat-v12-latin-600.woff") format("woff"), url("./fonts/montserrat-v12-latin-600.ttf") format("truetype"), url("./fonts/montserrat-v12-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* line 2, ../scss/_grid.scss */
.row {
  width: 100%;
  margin-left: -0.85rem;
  margin-right: -0.85rem;
}
@media screen and (max-width: 1024px) {
  /* line 2, ../scss/_grid.scss */
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  /* line 14, ../scss/_grid.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
  .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
    float: left;
    padding-left: 0.85rem;
    padding-right: 0.85rem;
    height: 100%;
  }
  /* line 20, ../scss/_grid.scss */
  .col-lg-1.end, .col-lg-2.end, .col-lg-3.end, .col-lg-4.end, .col-lg-5.end,
  .col-lg-6.end, .col-lg-7.end, .col-lg-8.end, .col-lg-9.end, .col-lg-10.end {
    float: right;
  }

  /* line 24, ../scss/_grid.scss */
  .col-lg-2 {
    width: calc(2 / 12 * 100%);
  }

  /* line 27, ../scss/_grid.scss */
  .col-lg-3 {
    width: calc(3 / 12 * 100%);
  }

  /* line 30, ../scss/_grid.scss */
  .col-lg-4 {
    width: calc(4 / 12 * 100%);
  }

  /* line 33, ../scss/_grid.scss */
  .col-lg-5 {
    width: calc(5 / 12 * 100%);
  }

  /* line 36, ../scss/_grid.scss */
  .col-lg-6 {
    width: calc(6 / 12 * 100%);
  }

  /* line 39, ../scss/_grid.scss */
  .col-lg-7 {
    width: calc(7 / 12 * 100%);
  }

  /* line 42, ../scss/_grid.scss */
  .col-lg-9 {
    width: calc(9 / 12 * 100%);
  }

  /* line 45, ../scss/_grid.scss */
  .col-lg-10 {
    width: calc(10 / 12 * 100%);
  }
}
@media screen and (min-width: 601px) {
  /* line 52, ../scss/_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
    float: left;
    padding-left: 0.85rem;
    padding-right: 0.85rem;
    height: 100%;
  }
  /* line 58, ../scss/_grid.scss */
  .col-md-1.end, .col-md-2.end, .col-md-3.end, .col-md-4.end, .col-md-5.end,
  .col-md-6.end, .col-md-7.end, .col-md-8.end, .col-md-9.end, .col-md-10.end {
    float: right;
  }

  /* line 62, ../scss/_grid.scss */
  .col-md-2 {
    width: calc(2 / 12 * 100%);
  }

  /* line 65, ../scss/_grid.scss */
  .col-md-3 {
    width: calc(3 / 12 * 100%);
  }

  /* line 68, ../scss/_grid.scss */
  .col-md-4 {
    width: calc(4 / 12 * 100%);
  }

  /* line 71, ../scss/_grid.scss */
  .col-md-5 {
    width: calc(5 / 12 * 100%);
  }

  /* line 74, ../scss/_grid.scss */
  .col-md-6 {
    width: calc(6 / 12 * 100%);
  }

  /* line 77, ../scss/_grid.scss */
  .col-md-7 {
    width: calc(7 / 12 * 100%);
  }

  /* line 80, ../scss/_grid.scss */
  .col-md-9 {
    width: calc(9 / 12 * 100%);
  }

  /* line 83, ../scss/_grid.scss */
  .col-md-10 {
    width: calc(10 / 12 * 100%);
  }
}
@media screen and (max-width: 600px) {
  /* line 89, ../scss/_grid.scss */
  [class^="col-sm-"],
  [class*='col-sm'] {
    float: left;
    margin-bottom: 3.4rem;
    padding-left: 0.85rem;
    padding-right: 0.85rem;
  }
  /* line 95, ../scss/_grid.scss */
  [class^="col-sm-"]:last-child,
  [class*='col-sm']:last-child {
    margin-bottom: 0;
  }

  /* line 99, ../scss/_grid.scss */
  .col-sm-6 {
    width: calc(6 / 12 * 100%);
  }
}
/* line 2, ../scss/_main-style.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/_main-style.scss */
html {
  font-size: 14px;
}

/* line 8, ../scss/_main-style.scss */
body, p, ul, h1, h2 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 15, ../scss/_main-style.scss */
body {
  line-height: 1.7rem;
  color: #000;
  font-family: "Montserrat";
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../scss/_main-style.scss */
h1 {
  font-size: 1.7rem;
  line-height: 1.25;
}

/* line 30, ../scss/_main-style.scss */
h2 {
  font-size: 18px;
  line-height: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}

/* line 37, ../scss/_main-style.scss */
ul, li {
  -webkit-padding-start: 0;
}

/* line 41, ../scss/_main-style.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 44, ../scss/_main-style.scss */
a:focus {
  outline: none;
}

/* line 52, ../scss/_main-style.scss */
.clearfix, .row {
  overflow: hidden;
  *zoom: 1;
  height: 100%;
  display: table;
}
/* line 57, ../scss/_main-style.scss */
.clearfix:before, .row:before, .clearfix:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 64, ../scss/_main-style.scss */
.position-relative {
  position: relative;
  height: 100%;
}

/* line 69, ../scss/_main-style.scss */
.v-center {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 75, ../scss/_main-style.scss */
.text-center {
  text-align: center;
}

/* line 79, ../scss/_main-style.scss */
.highlighted-background {
  background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
  /* line 86, ../scss/_main-style.scss */
  .display-s-screen {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  /* line 91, ../scss/_main-style.scss */
  .hide-s-screen {
    display: none;
  }
}

/* line 96, ../scss/_main-style.scss */
.show-s-screen {
  display: none;
}
@media screen and (max-width: 600px) {
  /* line 96, ../scss/_main-style.scss */
  .show-s-screen {
    display: block;
  }
}

/* line 4, ../scss/_main-layout.scss */
.banner {
  padding: 3.4rem 0;
}

/* line 7, ../scss/_main-layout.scss */
.about {
  margin: 0 auto;
  padding: 3.4rem 0;
  max-width: 1100px;
}

/* line 12, ../scss/_main-layout.scss */
.footer-layout {
  margin: 0 auto;
  padding: 3.4rem 0;
  max-width: 1100px;
}
@media screen and (max-width: 600px) {
  /* line 12, ../scss/_main-layout.scss */
  .footer-layout {
    padding: 1.7rem 0;
  }
}
/* line 19, ../scss/_main-layout.scss */
.footer-layout .contact-section,
.footer-layout .social-section {
  display: inline-block;
}

/* line 2, ../scss/_button.scss */
.button {
  display: inline-block;
  padding: calc(1.7rem/3 - 2px) calc(1.7rem - 2px);
  border: 2px solid #000;
  margin-top: 1.7rem;
  background: #fff;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}
/* line 13, ../scss/_button.scss */
.button:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.95);
}
/* line 17, ../scss/_button.scss */
.button:active {
  background: #000;
}

/* line 2, ../scss/_input.scss */
input {
  border: 2px solid #000;
  padding: calc(1.7rem/3 - 2px) calc(1.7rem - 2px);
  max-width: 100%;
  line-height: 1.7rem;
  font-family: "Montserrat";
  color: #000;
}
/* line 10, ../scss/_input.scss */
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #646464;
}
/* line 13, ../scss/_input.scss */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #646464;
}
/* line 16, ../scss/_input.scss */
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #646464;
}
/* line 19, ../scss/_input.scss */
input:-moz-placeholder {
  /* Firefox 18- */
  color: #646464;
}

/* line 2, ../scss/_header.scss */
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.7rem;
  background: #fff;
  -moz-box-shadow: 0px 3px 6px 3px rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0px 3px 6px 3px rgba(245, 245, 245, 0.5);
  box-shadow: 0px 3px 6px 3px rgba(245, 245, 245, 0.5);
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
@media screen and (max-width: 600px) {
  /* line 2, ../scss/_header.scss */
  .header {
    text-align: center;
    padding: 0;
  }
}
/* line 19, ../scss/_header.scss */
.header .logo {
  margin: 0 auto;
  display: block;
  width: 5.1rem;
  height: 5.1rem;
  overflow: hidden;
}
/* line 25, ../scss/_header.scss */
.header .logo img {
  display: block;
  height: 100%;
  width: auto;
}
@media screen and (max-width: 600px) {
  /* line 19, ../scss/_header.scss */
  .header .logo {
    display: inline-block;
    padding: 0.85rem;
    vertical-align: middle;
  }
}

/* line 39, ../scss/_header.scss */
.nav {
  text-align: center;
}
/* line 41, ../scss/_header.scss */
.nav .nav-list {
  list-style-type: none;
  display: inline-block;
}
/* line 44, ../scss/_header.scss */
.nav .nav-list .nav-li {
  display: inline-block;
  padding: 0.85rem;
  text-transform: uppercase;
  color: #646464;
}
/* line 49, ../scss/_header.scss */
.nav .nav-list .nav-li:hover {
  color: #000;
}
@media screen and (max-width: 600px) {
  /* line 39, ../scss/_header.scss */
  .nav {
    display: inline-block;
  }
}

/* line 1, ../scss/_parallex.scss */
.parallex {
  padding: 1.7rem 0;
}
/* line 3, ../scss/_parallex.scss */
.parallex .logo {
  display: block;
  width: 100%;
  height: auto;
}

/* line 3, ../scss/_about-cards.scss */
.card {
  min-height: 27.2rem;
  padding: 3.4rem;
  margin-bottom: 6.8rem;
  -moz-box-shadow: 0px 3px 6px 3px #f5f5f5;
  -webkit-box-shadow: 0px 3px 6px 3px #f5f5f5;
  box-shadow: 0px 3px 6px 3px #f5f5f5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* line 13, ../scss/_about-cards.scss */
.card:nth-child(2) {
  background-color: #f5f5f5;
  background-position: left bottom;
}
/* line 17, ../scss/_about-cards.scss */
.card:last-child {
  margin-bottom: 0;
}
/* line 20, ../scss/_about-cards.scss */
.card.made-for-you {
  background-image: url("../images/made-for-you.jpg");
}
/* line 23, ../scss/_about-cards.scss */
.card.high-intensity {
  background-image: url("../images/high-intensity.jpg");
}
/* line 27, ../scss/_about-cards.scss */
.card.body-sculpting {
  background-image: url("../images/body-sculpting.jpg");
}
@media screen and (max-width: 1023px) {
  /* line 3, ../scss/_about-cards.scss */
  .card {
    padding: 0;
    max-width: 100%;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    background-image: unset !important;
  }
  /* line 36, ../scss/_about-cards.scss */
  .card .card-description {
    padding: 3.4rem;
    text-align: center;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1024px) {
  /* line 43, ../scss/_about-cards.scss */
  .card .card-description {
    font-size: 0.875rem;
  }
}
/* line 47, ../scss/_about-cards.scss */
.card .card-description p {
  padding-bottom: 0.85rem;
  text-align: justify;
}
/* line 50, ../scss/_about-cards.scss */
.card .card-description p:last-child {
  padding-bottom: 0;
}
/* line 55, ../scss/_about-cards.scss */
.card img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  /* line 55, ../scss/_about-cards.scss */
  .card img {
    display: none;
  }
}

/* line 3, ../scss/_contact.scss */
.footer {
  background-color: #f5f5f5;
}
@media screen and (max-width: 1023px) {
  /* line 3, ../scss/_contact.scss */
  .footer {
    padding: 0 1.7rem;
  }
}
/* line 9, ../scss/_contact.scss */
.footer .address {
  font-size: 0.929rem;
}
/* line 12, ../scss/_contact.scss */
.footer .input-newsletter {
  display: block;
}
/* line 17, ../scss/_contact.scss */
.footer .social-media-list .social-media-button {
  display: inline-block;
  height: 3.4rem;
  width: 3.4rem;
  overflow: hidden;
}
/* line 22, ../scss/_contact.scss */
.footer .social-media-list .social-media-button img {
  display: block;
  height: 100%;
  width: auto;
}

/* line 30, ../scss/_contact.scss */
.copyright {
  font-size: 0.857rem;
  padding: 1.7rem 0;
}
