
.button {
	display: inline-block;
	padding: calc(#{$lh}/3 - 2px) calc(#{$lh} - 2px) ;
	border: 2px solid $black;
	margin-top: $lh;

	background: $white;
	text-transform: uppercase;
	font-weight: 600;

	&:hover {
		color: $white;
		background: rgba($black, 0.95);
	}
	&:active {
		background: $black;
	}
}