
.header {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding-top: $lh;
	background: $white;
	@include box-shadow (0px 3px 6px 3px rgba($grey-light, 0.5));
	
	.logo {
		margin: 0 auto; 
		display: block;
		width: $lh*3;
		height: $lh*3;
		overflow: hidden;
		img {
			display: block;
			height: 100%;
			width: auto;
		}
	}
}


.nav {
	text-align: center;
	.nav-list {
		list-style-type: none;
		display: inline-block;
		.nav-li {
			display: inline-block;
			padding: $lh/2;
			text-transform: uppercase;
			color: $grey;
			&:hover {
				color: $black;
			}
		}
	}
}
