


.banner {
	padding: $lh*2 0;
}
.about {
	margin: 0 auto;
	padding: $lh*2 0;
	max-width: 1100px;
}
.contact-layout{ 
	margin: 0 auto;
	padding: $lh*2 0;
	max-width: 1100px;
	@media screen and (max-width: $s-screen) {
		padding: $lh 0;
	}
}
