
.banner {
	padding: $lh*2 0;
}


.about {
	max-width: 1100px;
	margin: 0 auto;
	padding: $lh*2 0;
}

.card-floating {
	min-height: $lh*16;
	padding: $lh*2;
	margin-bottom: $lh*4;
	@include box-shadow (0px 3px 6px 3px $grey-light);
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;	

	&:nth-child(2) {
		background-color: $grey-light;
		background-position: left bottom;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.made-for-you {
		background-image: url('../images/made-for-you.jpg');		
	}
	&.high-intensity {
		background-image: url('../images/high-intensity.jpg');
		
	}
	&.body-sculpting {
		background-image: url('../images/body-sculpting.jpg')
	}


	.card-description {
		p {
			padding-bottom: $lh/2;
			text-align: justify;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}